body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:skyblue;
}

.quiz-card, .score-section{
  display: flex;
  height: 300px;
  width: 500px;
  border: 3px solid navy;
  border-radius: 5%;
  background-color: rgb(81, 62, 203);
  color: white;
  padding: 10px
}

.question-section{
  width: 50%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question{
  margin-top: 40px;
  font-size: 1.5em;
  text-align: center;
}

.answer-section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  padding-right: 20px;
}

.answer-option{
  margin: 10px;
  padding: 10px;
  width: 100%;
  border: 2px solid navy;
}

button:hover{
  cursor: pointer;
  background-color: lightgreen;
}

.score-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  padding: 8px;
  background-color: lightcyan;
  font-weight: bold;
  font-size: large;
}